@using SWF.Models
@using SWF.Classes
@model DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_pages_bx">
    <div class="container">

        <div class="listing_table">
            <div class="col-lg-9 col-md-9">
                <h2 class="project-title">My Projects</h2>

                <div class="full-row">
                    <div class="col-lg-6 no_margin">
                        <h3 class="active-title">Active Projects</h3>
                    </div>

                    <div class="col-lg-6 no_margin">
                        <div class="margin_div">
                            <div class="btn_only">
                                @Html.ActionLink("Add new project", "ClaimTranslation", "Translations", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                            </div>
                            <div class="select-style">
                                @Html.DropDownListFor(m => m.StatusId, ProjectStatusModel.GetProjectStatusDropdown(), "All")
                            </div>
                        </div>
                    </div>

                </div>

                <div class="grid-holder">
                    @{ Html.RenderPartial("_ProjectsList", Model.ProjectModelList);  }
                </div>
            </div>


            <div class="col-lg-3 col-md-3">
                <div class="translators-list-container">
                    @{ Html.RenderAction("AvailableTranslators", "Dashboard"); }
                </div>
            </div>
        </div>

    </div>
</div>
