@using SWF.Models
@using SWF.Classes
@model UsersModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_pages_bx">
    <div class="container">

        <div class="listing_table">
            
                <h2 class="project-title">DashBoard</h2>

            <div class="full-row">
                <div class="col-lg-6 no_margin">
                    <h3 class="active-title"></h3>
                </div>

                Here Will be display current day tasks.
            </div>

            <div class="grid-holder">
             
            </div>
        </div>

    </div>

</div>
